/* Can't figure out why the border isn't showing up on the .container. Ended up removing it.*/
.container {
    width: 40%;
    height: 40%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

#question {
    font-weight: bold;

}

/* ADD SHOW AND HIDE CLASS STYLES

